#map {
    width: 600px;
    height: 300px;
    background: grey;
}

#panel {
    width: 600px;
}

.btn-group {
    position: absolute;
    top: 7.2rem;
    left: 0px;
    background-color: #fff;
    padding: 10px;
}

@media (max-width: 1024px ) {
    .btn-group {
        top: 8.6rem;
    }
}